body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.gallery {
    display: grid;
    gap: 5px;
    /* grid-template-columns: repeat(5, 1fr); */
    background-color: white;
    grid-auto-flow: row dense;
}

.gallery img {
    width: 100%;
    height: auto;
}

.large2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

.large2x1 {
    grid-column: span 2;
    grid-row: span 1;
}

.large1x2 {
    grid-column: span 1;
    grid-row: span 2;
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(12, 1fr);
    }
}